body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#wrapper{
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
}
header{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 1px;
    
}
nav ul{
    margin-top: 0;
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 10px;
}
nav ul li a{
    color:#505050;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}
nav ul li a:hover{
    color: green;
}
.header-2{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.logo-principal{
    width: 25%;
}
.logo{
    width: 100%;
    
    vertical-align: bottom;
}
/* Menu */
.menu ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: start;
}
.menu ul li{
    padding: 15px 15px;
    border: 1px solid #eaeaea;
    border-top: solid 2px;
    cursor: pointer;
}
.menu ul li a{
    text-decoration: none;
    color: #505050;
    font-weight: bold;
}
.menu ul li a:hover{
    color: green !important;
}
.menu ul li a{
    
    font-size: 15px;
}
.menu li:first-child{
    border-top-color: #ef5350;
}
.menu li:nth-child(2){
    border-top-color: #ffc107;
}
.menu li:nth-child(3){
    border-top-color: #ef5350;
}
.menu li:nth-child(4){
    border-top-color: #29b6f6;
}
.menu li:nth-child(5){
    border-top-color: #66bb6a;
}
.menu li:nth-child(6){
    border-top-color: #ab47bc;
}
.menu li:nth-child(7){
    border-top-color: #ec407a;
}
.menu li:nth-child(8){
    border-top-color: #d4e157;
}
.menu li:nth-child(9){
    border-top-color: #ec407a;
}
.menu li:nth-child(10){
    border-top-color: #ffc107;
}
/* Lista despegabla */
#mi-imagen{
    margin-left: 5px;
    margin-top: 3px;
    width: 12px;
    transition: transform 0.5s ease;
}
.show{
    position: absolute;
    margin-top: 0px;
    margin-left: 83px;
    padding: 0;
    width: 200px;
    background-color: white;
    display: none;
}
.show ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
    color: #505050;
}
.show ul li{
    padding: 10px 10px;
    
}
.show ul li a{
    text-decoration: none;
    color: #505050;
    font-weight: bold;
}
.show ul li a:hover{
    color: green;
}
/* LISTA DESPEGABLE 2 */
#mi-imagen2{
    margin-left: 5px;
    margin-top: 3px;
    width: 12px;
    transition: transform 0.5s ease;
}
.show2{
    position: absolute;
    margin-top: 0px;
    margin-left: 316px;
    padding: 0;
    width: 200px;
    background-color: white;
    display: none;
}
.show2 ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
    color: #505050;
}
.show2 ul li{
    padding: 10px 10px;
}
.show2 ul li a{
    text-decoration: none;
    color: #505050;
    font-weight: bold;
}
.show2 ul li a:hover{
    color: green;
}
/* MAIN */
main{
    display: flex;
    gap: 100px;
    margin-top: 20px;

}
section{
    width: 75%;
}
/* noticias */
.costado{
    margin-top: 10px;
}
.noticias h4{
    border-left: 5px solid green;
    padding-left: 15px;
}
.items ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.items li{
    width: 130px;
}
.items img{
    width: 130px;
    border-radius: 15px;
}
.items p{
    font-size: 14px;
}